In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
raw_df = pd.read_csv("output.csv")
raw_df

,id,state,apmc,commodity,min_price,modal_price,max_price,commodity_arrivals,commodity_traded,created_at,status,Commodity_Uom
0,4477553,ODISHA,NIMAPARA,BETEL LEAVES,1,1,1,306000,306000,2021-01-04,1,Nos
1,4464658,ODISHA,NIMAPARA,BETEL LEAVES,1,1,1,288000,288000,2021-01-03,1,Nos
2,4439188,ODISHA,NIMAPARA,BETEL LEAVES,1,1,1,276000,276000,2021-01-01,1,Nos
3,4503713,ODISHA,NIMAPARA,BETEL LEAVES,1,1,1,259000,259000,2021-01-06,1,Nos
4,4477611,ODISHA,SAKHIGOPAL,COCONUT,7,7,9,51600,51600,2021-01-04,1,Nos
...,...,...,...,...,...,...,...,...,...,...,...,...
4052390,32420169,UTTARAKHAND,HARIDWAR,RIDGE GOURD (TURAI),1030,1030,1030,1,1,2025-09-06,1,Qui
4052391,32420222,UTTARAKHAND,KASHIPUR,BANANA,2200,2200,2200,1,1,2025-09-06,1,Qui
4052392,32420828,WEST BENGAL,JIYAGANJ KRISHAK BAZAR,RIDGE GOURD (TURAI),4000,4000,4000,1,1,2025-09-06,1,Qui
4052393,32420827,WEST BENGAL,JIYAGANJ KRISHAK BAZAR,RIDGE GOURD (TURAI),4000,4000,4000,0,1,2025-09-05,1,Qui
4052394,32420802,WEST BENGAL,JIYAGANJ KRISHAK BAZAR,BITTER GOURD,4800,4800,4800,1,1,2025-09-05,1,Qui

In [3]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4052395 entries, 0 to 4052394
Data columns (total 12 columns):
 #   Column              Dtype
---  ------              -----
 0   id                  int64
 1   state               object
 2   apmc                object
 3   commodity           object
 4   min_price           int64
 5   modal_price         int64
 6   max_price           int64
 7   commodity_arrivals  int64
 8   commodity_traded    int64
 9   created_at          object
 10  status              int64
 11  Commodity_Uom       object
dtypes: int64(7), object(5)
memory usage: 371.0+ MB

In [4]:
raw_df['created_at'] = pd.to_datetime(raw_df['created_at'])

raw_df['year'] = raw_df['created_at'].dt.year
raw_df['month'] = raw_df['created_at'].dt.month
raw_df['day'] = raw_df['created_at'].dt.day

raw_df

,id,state,apmc,commodity,min_price,modal_price,max_price,commodity_arrivals,commodity_traded,created_at,status,Commodity_Uom,year,month,day
0,4477553,ODISHA,NIMAPARA,BETEL LEAVES,1,1,1,306000,306000,2021-01-04,1,Nos,2021,1,4
1,4464658,ODISHA,NIMAPARA,BETEL LEAVES,1,1,1,288000,288000,2021-01-03,1,Nos,2021,1,3
2,4439188,ODISHA,NIMAPARA,BETEL LEAVES,1,1,1,276000,276000,2021-01-01,1,Nos,2021,1,1
3,4503713,ODISHA,NIMAPARA,BETEL LEAVES,1,1,1,259000,259000,2021-01-06,1,Nos,2021,1,6
4,4477611,ODISHA,SAKHIGOPAL,COCONUT,7,7,9,51600,51600,2021-01-04,1,Nos,2021,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4052390,32420169,UTTARAKHAND,HARIDWAR,RIDGE GOURD (TURAI),1030,1030,1030,1,1,2025-09-06,1,Qui,2025,9,6
4052391,32420222,UTTARAKHAND,KASHIPUR,BANANA,2200,2200,2200,1,1,2025-09-06,1,Qui,2025,9,6
4052392,32420828,WEST BENGAL,JIYAGANJ KRISHAK BAZAR,RIDGE GOURD (TURAI),4000,4000,4000,1,1,2025-09-06,1,Qui,2025,9,6
4052393,32420827,WEST BENGAL,JIYAGANJ KRISHAK BAZAR,RIDGE GOURD (TURAI),4000,4000,4000,0,1,2025-09-05,1,Qui,2025,9,5
4052394,32420802,WEST BENGAL,JIYAGANJ KRISHAK BAZAR,BITTER GOURD,4800,4800,4800,1,1,2025-09-05,1,Qui,2025,9,5

In [5]:
raw_df = raw_df.drop(columns=['id', 'status'])
raw_df

,state,apmc,commodity,min_price,modal_price,max_price,commodity_arrivals,commodity_traded,created_at,Commodity_Uom,year,month,day
0,ODISHA,NIMAPARA,BETEL LEAVES,1,1,1,306000,306000,2021-01-04,Nos,2021,1,4
1,ODISHA,NIMAPARA,BETEL LEAVES,1,1,1,288000,288000,2021-01-03,Nos,2021,1,3
2,ODISHA,NIMAPARA,BETEL LEAVES,1,1,1,276000,276000,2021-01-01,Nos,2021,1,1
3,ODISHA,NIMAPARA,BETEL LEAVES,1,1,1,259000,259000,2021-01-06,Nos,2021,1,6
4,ODISHA,SAKHIGOPAL,COCONUT,7,7,9,51600,51600,2021-01-04,Nos,2021,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4052390,UTTARAKHAND,HARIDWAR,RIDGE GOURD (TURAI),1030,1030,1030,1,1,2025-09-06,Qui,2025,9,6
4052391,UTTARAKHAND,KASHIPUR,BANANA,2200,2200,2200,1,1,2025-09-06,Qui,2025,9,6
4052392,WEST BENGAL,JIYAGANJ KRISHAK BAZAR,RIDGE GOURD (TURAI),4000,4000,4000,1,1,2025-09-06,Qui,2025,9,6
4052393,WEST BENGAL,JIYAGANJ KRISHAK BAZAR,RIDGE GOURD (TURAI),4000,4000,4000,0,1,2025-09-05,Qui,2025,9,5
4052394,WEST BENGAL,JIYAGANJ KRISHAK BAZAR,BITTER GOURD,4800,4800,4800,1,1,2025-09-05,Qui,2025,9,5

In [6]:
raw_df.isna().sum()

state                 0
apmc                  0
commodity             0
min_price             0
modal_price           0
max_price             0
commodity_arrivals    0
commodity_traded      0
created_at            0
Commodity_Uom         0
year                  0
month                 0
day                   0
dtype: int64

In [7]:
raw_df['Commodity_Uom'].unique()

array(['Nos', 'Qui', 'Kg', '50 Kg', 'Per Gram', 'Gram', 'Gm', '62 Kg',
       '20 Kilogram', '1 Kg'], dtype=object)

In [8]:
conversion_factors = {          
    'Qui': 100,       
    'Kg': 1,
    '50 Kg': 50,
    '62 Kg': 62,
    '20 Kilogram': 20,
    '1 Kg': 1,
    'Gram': 0.001,
    'Gm': 0.001,
    'Per Gram': 0.001
}

raw_df['factor'] = raw_df['Commodity_Uom'].map(conversion_factors).fillna(1)     # fillna for nos 

raw_df['commodity_arrivals'] = raw_df['commodity_arrivals'] * raw_df['factor']
raw_df['commodity_traded'] = raw_df['commodity_traded'] * raw_df['factor']
raw_df['min_price'] = raw_df['min_price'] / raw_df['factor']
raw_df['modal_price'] = raw_df['modal_price'] / raw_df['factor']
raw_df['max_price'] = raw_df['max_price'] / raw_df['factor']

raw_df.loc[raw_df['Commodity_Uom'] != 'Nos', 'Commodity_Uom'] = 'Kg'

raw_df = raw_df.drop(columns=['factor'])

raw_df

,state,apmc,commodity,min_price,modal_price,max_price,commodity_arrivals,commodity_traded,created_at,Commodity_Uom,year,month,day
0,ODISHA,NIMAPARA,BETEL LEAVES,1.0,1.0,1.0,306000.0,306000.0,2021-01-04,Nos,2021,1,4
1,ODISHA,NIMAPARA,BETEL LEAVES,1.0,1.0,1.0,288000.0,288000.0,2021-01-03,Nos,2021,1,3
2,ODISHA,NIMAPARA,BETEL LEAVES,1.0,1.0,1.0,276000.0,276000.0,2021-01-01,Nos,2021,1,1
3,ODISHA,NIMAPARA,BETEL LEAVES,1.0,1.0,1.0,259000.0,259000.0,2021-01-06,Nos,2021,1,6
4,ODISHA,SAKHIGOPAL,COCONUT,7.0,7.0,9.0,51600.0,51600.0,2021-01-04,Nos,2021,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4052390,UTTARAKHAND,HARIDWAR,RIDGE GOURD (TURAI),10.3,10.3,10.3,100.0,100.0,2025-09-06,Kg,2025,9,6
4052391,UTTARAKHAND,KASHIPUR,BANANA,22.0,22.0,22.0,100.0,100.0,2025-09-06,Kg,2025,9,6
4052392,WEST BENGAL,JIYAGANJ KRISHAK BAZAR,RIDGE GOURD (TURAI),40.0,40.0,40.0,100.0,100.0,2025-09-06,Kg,2025,9,6
4052393,WEST BENGAL,JIYAGANJ KRISHAK BAZAR,RIDGE GOURD (TURAI),40.0,40.0,40.0,0.0,100.0,2025-09-05,Kg,2025,9,5
4052394,WEST BENGAL,JIYAGANJ KRISHAK BAZAR,BITTER GOURD,48.0,48.0,48.0,100.0,100.0,2025-09-05,Kg,2025,9,5

In [9]:
print(raw_df['Commodity_Uom'].value_counts())

Commodity_Uom
Kg     4043252
Nos       9143
Name: count, dtype: int64

In [10]:
raw_df[(raw_df['commodity'] == 'LEMON') & (raw_df['Commodity_Uom'] == 'Kg')]

,state,apmc,commodity,min_price,modal_price,max_price,commodity_arrivals,commodity_traded,created_at,Commodity_Uom,year,month,day
461,ANDHRA PRADESH,ELURU,LEMON,14.0,16.0,20.0,83700.0,84100.0,2021-01-06,Kg,2021,1,6
511,ANDHRA PRADESH,ELURU,LEMON,16.0,18.0,22.0,75700.0,75700.0,2021-01-05,Kg,2021,1,5
550,ANDHRA PRADESH,ELURU,LEMON,14.0,17.0,21.0,68300.0,68300.0,2021-01-07,Kg,2021,1,7
594,ANDHRA PRADESH,ELURU,LEMON,20.0,23.0,26.0,62900.0,62900.0,2021-01-04,Kg,2021,1,4
610,ANDHRA PRADESH,ELURU,LEMON,12.0,16.0,19.0,61100.0,61100.0,2021-01-01,Kg,2021,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4052291,HARYANA,PUNDRI,LEMON,50.0,50.0,50.0,100.0,100.0,2025-09-06,Kg,2025,9,6
4052304,HARYANA,SHAHZADPUR APMC,LEMON,50.0,50.0,50.0,100.0,100.0,2025-09-06,Kg,2025,9,6
4052307,HARYANA,SHAHZADPUR APMC,LEMON,40.0,40.0,40.0,100.0,100.0,2025-09-05,Kg,2025,9,5
4052321,HARYANA,SOHNA,LEMON,35.0,35.0,35.0,100.0,100.0,2025-09-06,Kg,2025,9,6
4052334,HARYANA,SONEPAT,LEMON,25.0,25.0,25.0,200.0,100.0,2025-09-06,Kg,2025,9,6

In [11]:
nos_counts = raw_df[raw_df['Commodity_Uom'] == 'Nos']['commodity'].value_counts()

commodities_to_remove = nos_counts[nos_counts < 293].index

print("Before removing:", raw_df.shape)

raw_df = raw_df[~((raw_df['Commodity_Uom'] == 'Nos') & raw_df['commodity'].isin(commodities_to_remove))]

print("After removing:", raw_df.shape)

Before removing: (4052395, 13)
After removing: (4051585, 13)

In [12]:
raw_df[raw_df['Commodity_Uom'] == 'Nos']['commodity'].value_counts()

commodity
COCONUT              6016
COCONUT WITH HUSK    1472
BETEL LEAVES          845
Name: count, dtype: int64

In [13]:
both_units = (
    raw_df.groupby('commodity')['Commodity_Uom']
    .transform(lambda x: set(x) >= {"Nos", "Kg"})
)

df_both = raw_df[both_units]

result = df_both.groupby(['commodity', 'Commodity_Uom']).size().reset_index(name='count')

print(result)

           commodity Commodity_Uom  count
0       BETEL LEAVES            Kg      5
1       BETEL LEAVES           Nos    845
2            COCONUT            Kg   2707
3            COCONUT           Nos   6016
4  COCONUT WITH HUSK            Kg      1
5  COCONUT WITH HUSK           Nos   1472

In [14]:
nos_to_kg = {
    "BETEL LEAVES": 0.0022,   
    "COCONUT": 2.0,           
    "COCONUT WITH HUSK": 2.1  
}

for commodity, factor in nos_to_kg.items():
    mask = (raw_df['commodity'] == commodity) & (raw_df['Commodity_Uom'] == 'Nos')
    raw_df.loc[mask, 'commodity_arrivals'] *= factor
    raw_df.loc[mask, 'commodity_traded'] *= factor
    raw_df.loc[mask, 'min_price'] /= factor
    raw_df.loc[mask, 'modal_price'] /= factor
    raw_df.loc[mask, 'max_price'] /= factor
    raw_df.loc[mask, 'Commodity_Uom'] = 'Kg'

print(raw_df[raw_df['commodity'].isin(nos_to_kg.keys())]['Commodity_Uom'].value_counts())

Before conversion:
commodity                Commodity_Uom
 APPLE-RED GOLDEN LARGE  Kg                  5
AJOWAIN                  Kg                188
AJWAIN                   Kg               4121
AJWAIN HUSK              Kg                571
ALMOND                   Kg                 70
                                          ...
WHEAT-SARABHATI          Kg               1261
WHITE PEAS               Kg               8437
WHITE-GINGELY            Kg                525
WHITE-JOWAR              Kg                  3
YELLOW JOWAR             Kg                  1
Length: 638, dtype: int64

After conversion:
commodity                Commodity_Uom
 APPLE-RED GOLDEN LARGE  Kg                  5
AJOWAIN                  Kg                188
AJWAIN                   Kg               4121
AJWAIN HUSK              Kg                571
ALMOND                   Kg                 70
                                          ...
WHEAT-SARABHATI          Kg               1261
WHITE PEAS               Kg               8437
WHITE-GINGELY            Kg                525
WHITE-JOWAR              Kg                  3
YELLOW JOWAR             Kg                  1
Length: 635, dtype: int64
Commodity_Uom
Kg    11046
Name: count, dtype: int64

In [15]:
print(raw_df['Commodity_Uom'].value_counts())

Commodity_Uom
Kg    4051585
Name: count, dtype: int64

In [16]:
raw_df

,state,apmc,commodity,min_price,modal_price,max_price,commodity_arrivals,commodity_traded,created_at,Commodity_Uom,year,month,day
0,ODISHA,NIMAPARA,BETEL LEAVES,454.545455,454.545455,454.545455,673.2,673.2,2021-01-04,Kg,2021,1,4
1,ODISHA,NIMAPARA,BETEL LEAVES,454.545455,454.545455,454.545455,633.6,633.6,2021-01-03,Kg,2021,1,3
2,ODISHA,NIMAPARA,BETEL LEAVES,454.545455,454.545455,454.545455,607.2,607.2,2021-01-01,Kg,2021,1,1
3,ODISHA,NIMAPARA,BETEL LEAVES,454.545455,454.545455,454.545455,569.8,569.8,2021-01-06,Kg,2021,1,6
4,ODISHA,SAKHIGOPAL,COCONUT,3.500000,3.500000,4.500000,103200.0,103200.0,2021-01-04,Kg,2021,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4052390,UTTARAKHAND,HARIDWAR,RIDGE GOURD (TURAI),10.300000,10.300000,10.300000,100.0,100.0,2025-09-06,Kg,2025,9,6
4052391,UTTARAKHAND,KASHIPUR,BANANA,22.000000,22.000000,22.000000,100.0,100.0,2025-09-06,Kg,2025,9,6
4052392,WEST BENGAL,JIYAGANJ KRISHAK BAZAR,RIDGE GOURD (TURAI),40.000000,40.000000,40.000000,100.0,100.0,2025-09-06,Kg,2025,9,6
4052393,WEST BENGAL,JIYAGANJ KRISHAK BAZAR,RIDGE GOURD (TURAI),40.000000,40.000000,40.000000,0.0,100.0,2025-09-05,Kg,2025,9,5
4052394,WEST BENGAL,JIYAGANJ KRISHAK BAZAR,BITTER GOURD,48.000000,48.000000,48.000000,100.0,100.0,2025-09-05,Kg,2025,9,5

In [ ]:
raw_df.drop(columns=['Commodity_Uom']).to_csv('updated_output.csv', index=False)  # Save the csv